h1 {
    color:aqua;
}
p {
    margin-left:auto;
    margin-right:auto;
    text-align:center ;

    color:rgb(0, 0, 0);
    text-shadow: 
        0.07em 0 black,
        0. 0.07em black,
        -0.07em black,
        0 -0.07em black;
        
}

body {
    background-image: url("/img/20201201_FeedingAmerica_01-2.jpg") ;
    background-size: contain;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center;
     ;
}
